@font-face {
    font-family: "GraphikBlack";
    src: url("../assets/fonts/GraphikBlack.otf") format("otf");
  }

  @font-face {
      font-family: "GraphikBlackItalic";
      src: url("../assets/fonts/GraphikBlackItalic.otf") format("otf");;
  }

  @font-face {
    font-family: "GraphikBold";
    src: url("../assets/fonts/GraphikBold.otf") format("otf");;
}

@font-face {
    font-family: "GraphikBoldItalic";
    src: url("../assets/fonts/GraphikBoldItalic.otf") format("otf");;
}

@font-face {
    font-family: "GraphikExtralight";
    src: url("../assets/fonts/GraphikExtralight.otf") format("otf");;
}

@font-face {
    font-family: "GraphikExtralightItalic";
    src: url("../assets/fonts/GraphikExtralightItalic.otf") format("otf");;
}

@font-face {
    font-family: "GraphikLight";
    src: url("../assets/fonts/GraphikLight.otf") format("otf");;
}

@font-face {
    font-family: "GraphikLightItalic";
    src: url("../assets/fonts/GraphikLightItalic.otf") format("otf");;
}

@font-face {
    font-family: "GraphikMedium";
    src: url("../assets/fonts/GraphikMedium.otf") format("otf");;
}

@font-face {
    font-family: "GraphikMediumItalic";
    src: url("../assets/fonts/GraphikMediumItalic.otf") format("otf");;
}
@font-face {
    font-family: "GraphikRegular";
    src: url("../assets/fonts/GraphikRegular.otf") format("otf");;
}

@font-face {
    font-family: "GraphikRegularItalic";
    src: url("../assets/fonts/GraphikRegularItalic.otf") format("otf");;
}

@font-face {
    font-family: "GraphikSemibold";
    src: url("../assets/fonts/GraphikSemibold.otf") format("otf");;
}

@font-face {
    font-family: "GraphikSemiboldItalic";
    src: url("../assets/fonts/GraphikSemiboldItalic.otf") format("otf");;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}